body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0; padding:0;
}
#status {
    font-weight: bold;
    font-size: 100px;
    position:absolute;
    top:45%;
    text-align:center;
    width:100%;
    z-index: 3;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#rights {
    bottom:0;
    font-size: 9px;
    position:fixed;
    right:1em;
    z-index: 3;
}
#controls {
    bottom:0;
    font-size: 12px;
    left:0;
    padding: 5px;
    position:fixed;
    width: 240px;
    z-index: 3;
}
#controls a {
    background: #fff;
    color: #222;
    display: block;
    margin-top: 3px;
    margin-right: 15px;
    opacity: 0.25;
    padding: 8px 15px;
    text-decoration: none;
}
#controls:hover a,
#controls a.active {
    opacity: 1;
}
#controls a:hover {margin-right: 7px;}
#controls a.active {margin-right: 0;}


#map {
    bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

#map .loading {
    color: #ccc;
    display: block;
    font-style: italic;
    padding: 400px 0;
    text-align: center;
}
#map svg {
    display: block;
    height: 100%;
    width: 100%;
}

body,
#controls,
#map path {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
